body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #7e74f1;
    margin-bottom: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #7e74f1;
}

th {
    background-color: #7e74f1;
    color: #fff;
}

button {
    background-color: #7e74f1;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #594bd1;
}

/* Style for delete button */
.delete-btn {
    background-color: #ff4d4d;
}

.delete-btn:hover {
    background-color: #d43f3f;
}
