@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap");

:root {
  --primaryTextColor: #232e35; /*untuk judul*/
  --secondaryTextColor: #656d72;

  --borderColor: #f1cfc1;
  --lineColor: #d9d9d9;

  --primaryBackgroundColor: #fff;
  --secondaryBackgroundColor: #fbfbfb;
  --thirdBackgroundColor: #f5f3fe;

  --primaryIconColor: #e68616;
  --secondaryIconColor:#7a4c18;

  --primaryIconColorHover:#e68616;

  --sectionPadding: 6rem 0;

  --itemBorderRadius: 0.7rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--primaryTextColor);
}

p {
  font-size: 1rem;
  line-height: 1.9rem;
}

p,
span,
label,
input,
textarea,
li {
  color: var(--secondaryTextColor);
}

a {
  text-decoration: none;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}
/* Button */
/* Button */
.btn {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border: 1.5px solid var(--borderColor);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-right: 15px;
  text-align: left;
  line-height: 1.5;
  width: 100px; /* Misalnya, atur lebar tombol */
  box-sizing: border-box;
  font-size: 16px;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
}

/* Titles */

.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}

.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5mm;
  color: var(--secondaryTextColor);
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;
}

.pre-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--lineColor);
  position: absolute;
  display: block;
  left: 0;
}
/* Layout */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}
/* Logo and Nav */
.main-container .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Change the background color as needed */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle effect */
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
  max-width: 200px;
  margin-left: 20px;
}

.logo a {
  color: var(--primaryTextColor);
}

nav ul li {
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;
}

nav ul li a {
  color: var(--primaryTextColor);
  position: relative;
  transition: color 0.5s ease;
}

nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e68616; /* Ganti dengan warna yang diinginkan */
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

nav ul li a:active {
  color: #74f1da; /* Ganti dengan warna yang diinginkan */
  background-color: #e68616;
}

nav ul li a:hover {
  color: #e68616; /* Ganti dengan warna yang diinginkan */
}

nav ul li a:hover::before {
  transform: scaleX(1);
}

/* Burger */
.burger div {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 7px;
  transition: all 0.3s;
  z-index: 9999;
}

.burger {
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}

/* Hero Section */
#hero {
  height: 920px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.hero-name span {
  color: var(--primaryIconColor);
}

.hero-right img {
  width: 90%;
}
.hero-right {
  display: flex;
  justify-content: center;
}

/* Information */
#information {
  background-color: var(--secondaryBackgroundColor);
  padding: var(--sectionPadding);
}
.information .pre-title {
  margin: 0 auto;
}
.information-title {
  text-align: center;
}

.informationn {
  padding: 3rem 2rem;
  text-align: center;
  background: var(--primaryBackgroundColor);
  border-radius: var(--borderColor);
}

.information h4 {
  margin: 1.5rem 0;
  font-weight: 500;
  font-size: 1.05;
}

.information-icon {
  background: var(--thirdBackgroundColor);
  width: fit-content;
  margin: auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

.information-icon svg {
  fill: var(--primaryIconColor);
}

/* Event */
#event {
  padding: var(--sectionPadding);
}

.eventt {
  border-radius: var(--itemBorderRadius);
  overflow: hidden;
  border: 1px solid var(--borderColor);
}
.event-cover {
  height: 250px;
}
.event-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-info {
  padding: 2rem 1.5rem;
}
.event-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.event h4 {
  font-weight: 500;
  font-size: 1.05rem;
}
.event-title a svg:hover {
  fill: var(--primaryIconColor);
}
.event-title a svg {
  transition: 0.2s ease-in-out;
}

.event-tags {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}
.event-tags div {
  font-size: 0.9rem;
  border: 1px solid var(--borderColor);
  padding: 0.4rem 1rem;
  color: var(--secondaryTextColor);
}

/* ABout */
#about {
  padding: var(--sectionPadding);
  background-color: var(--secondaryBackgroundColor);
}
.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}
.education {
  display: flex;
  gap: 2rem;
}
.education .line {
  padding: 0 0.7rem;
}
.education .line div {
  width: 2px;
  height: 100%;
  background: #eeeeee;
  position: relative;
}
.education-info p {
  margin: 0.6rem 0 1.4rem;
}
.education-years {
  margin-bottom: 3rem;
}
/* Dot */
.education .line div::before {
  content: "";
  width: 15px;
  height: 15px;
  background: #d3d3d3;
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

/* Contact Section */
#contact {
  padding: var(--sectionPadding);
}
.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}
.contact-form div {
  margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "roboto", sans-serif;
  background: var(--secondaryBackgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid #7d7d7d;
  background: var(--secondaryBackgroundColor);
}


.btn-submit {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background-color: var(--primaryIconColor);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn-submit:hover {
  background: var(--primaryIconColorHover);
}
.contact-item {
  display: flex;
  gap: 1.5rem;
}
.contact-item-icon {
  display: flex;
  background: var(--thirdBackgroundColor);
  width: 53px;
  height: 53px;
  border-radius: 9px;
  justify-content: center;
  align-items: center;
}
.contact-item-icon svg {
  fill: var(--primaryIconColor);
}

.contact-item-detail h4 {
  margin-bottom: 0.6rem;
}

/* PPDB */
.ppdb-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}
.p-hero {
  justify-content: center;
  text-align: center;
  padding: 0 25rem;
}
.button-formulir{
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}

/* Informasi */


/* Back to top */
.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primaryIconColor);
  border-radius: .5rem;
  padding: .5rem;
  text-decoration: none;
}

.back-to-top span {
  color: white;
  font-size: 2rem;
}

.back-to-top:hover {
  background-color: var(--primaryIconColorHover);
}
.back-to-top:hover span {
  transform: translateY(-4px);
}

/* ppdb folder */

/* body {
  font-family: Arial, sans-serif;
  background-color: #7e74f1;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 90px;
} */

.daftar-container {
  text-align: center;
  padding-top: 90px;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.container-wrapper {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input,
select {
  padding: 8px;
  margin-bottom: 16px;
  width: 100%; /* Agar lebar input dan select menjadi 100% dari parent */
  box-sizing: border-box; /* Menghitung padding dan border dalam lebar elemen */
}

button {
  background-color: #7e74f1;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.poster {
  width: 50%;
}

/* ppdb folder */